main > .container {
    padding: 70px 15px 20px;
}
body {
    background-color: #f6f6f6;
}
h1, .h1 {
    font-size: 32px;
    line-height: 32px;
    margin-top: 12px;
    margin-bottom: 20px;
}
.width-100 {
    width: 100%;
}
.without-border {
    border: none;
}
/*Кнопки*/
.button-ui {
    padding: 10px 19px;
    white-space: nowrap;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    justify-content: center;
    line-height: 24px;
    outline: none;
    overflow: hidden;
    transition: opacity .3s;
}
.btn_a-secondary {
    color: #333;
    background: #fff;
    border-color: #d9d9d9;
}
.btn_a-secondary:hover {
    box-shadow:0 0 0 3px rgba(0,0,0,.03);
    color: #333;
}
.btn_a-primary, .btn_a-outline-primary:hover {
    border: 1px solid #ffa218;
    box-shadow: inset 0 100px 0 hsla(0, 0%, 100%, .1);
    background-image: linear-gradient(0deg, #fc8507, #ffa218);
    color: #fff;
}
.btn_a-primary:hover {
    box-shadow:0 0 0 3px #fff7da;
    background-color: #ffa218;
    border-color: #ffa218;
    color: #fff;
}
.btn_a-outline-primary {
    border: 1px solid #ffa218;
    color: #333;
}
.btn_a-outline-primary:hover {
    color: #333;
}
.button-small {
    padding: 5px 10px;
    font-size: 14px;
}
a.button:hover {
    text-decoration: none;
}

/*Хлебные крошки*/
.breadcrumb {
    padding: 0;
    background: none;
    font-size: 13px;
}
.breadcrumb .breadcrumb-item a {
    color: #333;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    color: #333;
    content: ">";
    padding-right: 5px;
}
.product .product-by .button-ui {
    font-weight: 700;
    font-size: 18px;
    width: 151px;
}

/*Категории*/
.categories-list {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    /*grid-template-columns: repeat(4, 270px);*/
}
.category-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16);
    display: inline-block;
    height: 234px;
    padding: 24px 20px 42px;
    position: relative;
    vertical-align: top;
}
.category-card:hover {
    color:#4e4e4e;
    text-decoration:none
}
.category-card:hover{
    box-shadow:0 8px 8px 0 rgba(0,0,0,.05),0 29px 26px 0 rgba(0,0,0,.08)
}
.card_cover, .product_cover {
    display: inline-block;
    height: 120px;
    line-height: 150px;
    text-align: center;
    width: 100%;
}
.card_cover img, .product_cover img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 100%;
    display: block;
}
.card_title {
    align-items: center;
    color: #4e4e4e;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    height: 63px;
    justify-content: center;
    margin: 12px 0 0;
    text-align: center;
}

/*Продукты*/
.products-list {
    display: grid;
    grid-gap: 10px;
    width: calc(100% - 249px);
}
.product-card {
    display: flex;
    padding: 24px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 1px 2px 0 #0000001a;
}
.product-card .product_cover {
    grid-column: 1;
    grid-row: 1 / 4;
}
.products-list .product_cover {
    height: 200px;
    width: 200px;
    margin-right: 12px;
}
.products-list .product-card_center {
    display: flex;
    flex-direction: column;
}
.product-card_right {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.product-card_title {
    grid-column: 2;
    grid-row: 1;
    max-height: 74px;
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
    color: #000;
}
.product-card_title:hover {
    text-decoration: none;
    color: #fc5808;
}
.products-list .product-price {
    display: flex;
    flex-direction: column-reverse;
    font-size: 20px;
    grid-column: 2;
    grid-row: 2;
    line-height: 26px;
    color: #fc8507;
    font-weight: 700;
    margin-bottom: 10px;
}
.card_bottom {
    margin-top: auto;
}
.product-by button {
    height: 44px;
    width: min-content;
    background: #fff;
    border-color: #d9d9d9;
}

/*Продукт*/
.products {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 600px;
}
.product .product_cover {
    width: 340px;
    height: 500px;
    margin-right: 32px;
}
.product .product-card_center {
    display: flex;
    flex-direction: column;
    width: calc(100% - 340px);
}
.product-card_title {
    height: 84px;
    padding-right: 100px;
}
.product .product-price {
    width: 100%;
    background: #f7f7f7;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 44px;
    padding: 0 16px 0 12px;
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
}
.product .product-by-one_line {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    min-height: 64px;
}
.product .product-by-one_line .product-price {
    margin-right: 10px;
}
.products-empty_result {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 1px 2px 0 #0000001a;
}

/*Фильлтр в продуктах*/
.products-filter_wrap {
    width: 234px;
    margin-right: 15px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 1px 2px 0 #0000001a;
    padding: 15px;
}
.products-filter_wrap form {
    height: 100%;
}
.products-filter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.filter-item {
    width: 100%;
}
.filter-item:last-child {
    margin-top: auto;
}
.products-filter .filter-group {
    width: 100%;
    display: flex;
}
.products-filter .filter-group .form-group + .form-group {
    margin-left: 15px;
}
.products-filter .filter-group_wrap {
    display: flex;
    flex-direction: column;
}
.products-filter .filter-name {
    font-weight: 700;
    margin-bottom: 10px;
}
.products-filter .btn-group {
    width: 100%;
}
.products-filter .btn-group  + .btn-group  {
    margin-top: 8px;
}
.products-filter .button {
    width: 100%;
}
.products-filter input {
    border-radius: 8px;
    font-size: 14px;
}

/*Корзина*/
#basket_modal .modal-dialog {
    max-width: 600px;
}

/*Платежные модули*/
.payments-list .card_cover {
    height: 80px;
}