#cart_modal .modal-dialog {
  max-width: 584px;

  .cart-header {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 0 0 16px;
  }
  .cart-title {
    font-size: 18px;
    font-weight: 700;
  }
  .cart-products_remove {
    margin-left: auto;
  }
  .cart-product {
    display: flex;
    width: 100%;

    .cart-product-cover {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      min-width: 60px;
      height: 60px;
      margin-right: 8px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        max-width: 100%;
        display: block;
      }
    }
    .cart-product_info {
      display: flex;
      font-size: 14px;
    }
    .cart-product_title {
      min-width: 196px;
    }
    .cart-product_price {
      white-space: nowrap;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      margin-left: 30px;
    }
    .cart-product_remove {
      margin-left: 10px;
    }
    .cart-product-quantity_pickers {
      display: flex;
      align-items: center;
      background-color: #f6f6f6;
      height:26px;
      margin-left: 10px;
      border-radius: 8px;
    }
    .cart-product-quantity_picker {
      padding: 2px 4px;
      font-size: 14px;
      line-height: 1;
      /*height:19px;*/
      border: 1px solid #ffa218;
      border-radius: 6px;
      background-color: #fff;
    }
    .cart-product-quantity {
      font-weight: 700;
      font-size: 16px;
      width: 40px;
      text-align: center;
    }
    + .cart-product {
      margin-top: 15px;
    }
  }
  .cart-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cart-footer_left {
      font-size: 18px;
      font-weight: 700;
    }
    .cart-footer_right {
      .button {
        + .button {
          margin-left: 10px;
        }
      }
    }
  }
}