header {
  .navbar {
    padding: 16px 0;
  }
  .header-bottom {
    position: fixed;
    top: 56px;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    .header-left {
      width: 318px;
    }

    .header-center {
      width: 100%;

      .search {

        .search-wrap {
          width: 100%;
          box-shadow: 0 0 0 1px #0000000a, 0 4px 4px #0000000a, 0 20px 40px #00000014;
          border-radius: 8px;
          line-height: 40px;
          font-size: 16px;
          background: #f7f7f7;

          input {
            width: 100%;
            padding: 12px 50px 12px 20px;
            border: none;
            height: 48px;
            border-radius: 12px;
            background-color: #f7f7f7;

            &:focus {
              outline:none;
            }
          }

          .btn-search {
            content: '';
            position: absolute;
            top: 6px;
            right: 6px;
            width: 44px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f7f7f7;
            border: none;
            border-radius: 12px;

            &:after {
              content: '';
              display: block;
              top: 20px;
              left: 20px;
              width: 24px;
              height: 24px;
              background: url(../images/icons/search-icon.svg) no-repeat center;
              background-size: cover;

            }
          }
        }
      }
    }

    .header-right {
      .header-buttons {
        display: flex;
        align-items: center;
        padding: 0 24px;

        .btn-wrap {
          position: relative;
          max-height: 60px;

          .btn-favourites, .btn-cart, .btn-login {
            position: relative;
            display: flex ;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
            height: 100%;
            width: 90px;
            transition: .2s;
            font-size: 14px;
            line-height: 18px;

            .btn-icon {
              height: 24px;
            }

            .btn-icon:after {
              display: block;
              content: '';
              background-color: #AFAFAF;
              -webkit-mask-size: contain;
              mask-size: contain;
              -webkit-mask-position: center;
              mask-position: center;
              -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
              &:hover {

              }
            }
            &:hover {
              color: #fc8507;
              .btn-icon {
                &:after {
                  background-color: #fc8507;
                }
              }
            }
          }
          .btn-favourites {
            .btn-icon:after {
              width: 22px;
              height: 22px;
              mask-image: url(../images/icons/favourites-icon.svg);
            }
          }

          .btn-login {
            .btn-icon:after {
              width: 20px;
              height: 20px;
              margin-bottom: 2px;
              mask-image: url(../images/icons/login-icon.svg);
            }
          }

          .btn-cart {
            .cart-sum {
              opacity: 0;
              font-weight: 700;
              white-space: nowrap;
            }

            .btn-icon:after {
              width: 24px;
              height: 24px;
              mask-image: url(../images/icons/cart-icon.svg);
            }

            &.active {
              .cart-sum {
                opacity: 1;
              }
            }
          }
        }

        #cart_modal {
          position: absolute;
          top: auto;
          height: auto;
          right: 0;
          left: auto;
          width: auto;
          box-shadow: 0 0 12px #00000029;
          animation: showCartModal .15s forwards ease-in;
          white-space: normal;

          .modal-dialog {
            margin: 0;

            .modal-content {
              border: none;
            }
          }
        }
      }
    }
  }
}


