header {
  .navbar {
    padding: 16px 0;
  }
  .header-bottom {
    position: fixed;
    top: 56px;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .container {
    display: flex;

    .header-center {
      width: 100%;

      .search {
        padding: 0 0 10px;

        .search-wrap {
          width: 100%;
          box-shadow: 0 0 0 1px #0000000a, 0 4px 4px #0000000a, 0 20px 40px #00000014;
          border-radius: 8px;
          line-height: 40px;
          font-size: 16px;
          background: #f7f7f7;

          input {
            width: 100%;
            padding: 12px 50px 12px 20px;
            border: none;
            height: 48px;
            border-radius: 12px;
            background-color: #f7f7f7;

            &:focus {
              outline:none;
            }
          }

          .btn-search {
            content: '';
            position: absolute;
            top: 6px;
            right: 6px;
            width: 44px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f7f7f7;
            border: none;
            border-radius: 12px;

            &:after {
              content: '';
              display: block;
              top: 20px;
              left: 20px;
              width: 24px;
              height: 24px;
              background: url(../images/icons/search-icon.svg) no-repeat center;
              background-size: cover;

            }
          }
        }
      }
    }
    .header-left {
      width: 318px;
    }
  }
}


