main {
  & > .container {
    padding: 136px 15px 20px;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}
html body {
  background-color: #f6f6f6;
  padding-right: 0!important;
}
.modal {
  display: none;
  padding: 0;
}
.modal.show {
  display: block;
}
.modal-open {
  overflow: auto;
}
h1, .h1 {
  font-size: 32px;
  line-height: 32px;
  margin-top: 12px;
  margin-bottom: 20px;
}
.width-100 {
  width: 100%;
}
.without-border {
  border: none;
}
a {
  color: #333;

  &:hover {
    color: #fc5808;
    text-decoration: none;
  }

  &.button {
    &:hover {
      text-decoration: none;
    }
  }
}

/*Блоки*/
.c-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 #0000001a;
  padding: 20px;
  word-wrap: break-word;

  .c-card-body {
    .c-card-cover {
      display: inline-block;
      height: 120px;
      line-height: 150px;
      text-align: center;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        max-width: 100%;
        display: block;
      }
    }
  }

  .c-card-title {
    align-items: center;
    color: #4e4e4e;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    height: 63px;
    justify-content: center;
    margin: 12px 0 0;
    text-align: center;
  }

  .c-card-footer {
    background-color: #fff;
    border: none;
  }
}


/*Кнопки*/
.button-ui {
  padding: 10px 19px;
  white-space: nowrap;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  line-height: 24px;
  outline: none;
  overflow: hidden;
  transition: opacity .3s;
}
.btn_a-secondary {
  color: #333;
  background: #fff;
  border-color: #d9d9d9;

  &:hover {
    box-shadow:0 0 0 3px rgba(0,0,0,.03);
    color: #333;
  }
}
.btn_a-primary {
  border: 1px solid #ffa218;
  box-shadow: inset 0 100px 0 hsla(0, 0%, 100%, .1);
  background-image: linear-gradient(0deg, #fc8507, #ffa218);
  color: #fff;

  &:hover {
    box-shadow:0 0 0 3px #fff7da;
    background-color: #ffa218;
    border-color: #ffa218;
    color: #fff;
  }
}
.btn_a-outline-primary {
  border: 1px solid #d9d9d9;
  color: #333;

  &:hover {
    border: 1px solid #ffa218;
    box-shadow: inset 0 100px 0 hsla(0, 0%, 100%, .1);
    background-image: linear-gradient(0deg, #fc8507, #ffa218);
    color: #fff;
  }
  &.active {
    color: #fc8507;
    background: #fff;
    border-color: #fc8507;
  }
}
.button-small {
  padding: 5px 10px;
  font-size: 14px;
}

/*Хлебные крошки*/
.breadcrumb {
  padding: 0;
  background: none;
  font-size: 13px;

  .breadcrumb-item {
    a {
      color: #333;
    }
    +.breadcrumb-item {
      &::before {
        color: #333;
        content: ">";
        padding-right: 5px;
      }
    }
  }
}

.payments-list {
  .c-card-cover {
    height: 80px;
  }
}

/*Выбранные продукты*/
.selected-products {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;

  .block-header {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 0 0 16px;
  }
  .block-title {
    font-size: 18px;
    font-weight: 700;
  }
  .product {
    display: flex;
    width: 100%;
  }
  .product + .product {
    margin-top: 10px;
  }
  .product-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    min-width: 60px;
    height: 60px;
    margin-right: 8px;
  }
  .product-cover img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 100%;
    display: block;
  }
  .product-info {
    display: flex;
    width: 100%;
    font-size: 14px;
  }
  .product-title {
    min-width: 196px;
    margin-right: auto;
  }
  .product-price {
    margin-left: 30px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
  }
  .block-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, .08);
    padding-top: 20px;
  }
  .block-footer_left {
    font-size: 18px;
  }
}