.products {
  display: flex;
  width: 100%;
  height: 100%;

  .products-list {
    display: grid;
    grid-gap: 10px;
    width: 100%;

    .product {
      display: flex;
      padding: 32px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 1px 2px 0 #0000001a;

      .product-cover {
        height: 200px;
        width: 200px;
        margin-right: 12px;
        flex-shrink: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          max-width: 100%;
          display: block;
        }
      }

      .product-center {
        display: flex;
        flex-direction: column;

        .product-title {
          height: 84px;
          padding-right: 100px;
        }

        .product-bottom {
          margin-top: auto;
        }
      }

      .product-right {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        align-items: end;

        .product-price {
          display: flex;
          font-size: 20px;
          line-height: 26px;
          font-weight: 700;
          margin-bottom: 10px;
        }
      }

      .product-buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        .product-by {
          .button {
            width: min-content;
            height: 44px;
            background: #fff;
            border-color: #d9d9d9;
            font-size: 16px;

            &:hover {
              border: 1px solid #ffa218;
              box-shadow: inset 0 100px 0 hsla(0, 0%, 100%, .1);
              background-image: linear-gradient(0deg, #fc8507, #ffa218);
              color: #fff;

              &.active {
                background-image: linear-gradient(0deg, #fc8507, #ffa218);
                color: #fff;
              }
            }

            &.active {
              color: #fc8507;
              background: #fff;
              border-color: #fc8507;
            }
          }
        }

        .product-favorites {
          margin-right: 10px;

          .button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 44px;

            &:after {
              display: block;
              content: '';
              -webkit-mask-size: contain;
              mask-size: contain;
              -webkit-mask-position: center;
              mask-position: center;
              -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;

              width: 16px;
              height: 16px;
              mask-image: url(../images/icons/favourites-icon.svg);
              background-color: #afafaf;
            }

            &.active {
              &:after {
                background-color: #ff5c52;
                mask-image: url(../images/icons/favourites-icon-active.svg);
              }
            }

            &:hover {
              &:after {
                background-color: #ff5c52;
              }
            }
          }
        }
      }
    }

    .empty-result {
      width: 100%;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 32px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 1px 2px 0 #0000001a;
    }
  }

  .products-filter_wrap {
    width: 234px;
    flex-shrink: 0;
    margin-right: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 #0000001a;
    padding: 15px;
    max-height: 400px;

    form {
      height: 100%;
    }

    .products-filter {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .filter-item {
        width: 100%;

        .filter-group_wrap {
          display: flex;
          flex-direction: column;
        }

        .filter-group {
          width: 100%;
          display: flex;

          .form-group {
            + .form-group {
              margin-left: 15px;
            }
          }
        }

        .filter-name {
          font-weight: 700;
          margin-bottom: 10px;
        }
      }

      .btn-group {
        width: 100%;

        + .btn-group  {
          margin-top: 8px;
        }
      }

      .button {
        width: 100%;
      }

      input {
        border-radius: 8px;
        font-size: 14px;
      }

      :last-child {
         margin-top: auto;
       }
    }
  }


}