.product-card {
  display: flex;
  padding: 32px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 #0000001a;
  margin-bottom: 20px;

  .product-images-slider {
    display: flex;
    justify-content: center;
    width: 540px;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    padding-right: 20px;
    overflow: hidden;

    .images-thumbs {
      width: 80px;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      padding: 8px;
      max-height: 300px;
      overflow-y: auto;
      overflow-x: hidden;
      direction: rtl;

      .image-thumb {
        direction: ltr;
        max-width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        border-radius: 2px;

        &.active {
          border: 2px solid #fc8507;
        }
        &:hover {
          cursor: pointer;
        }

        img {
          max-height: 100%;
          max-width: 100%;
        }

        &+.image-thumb {
          margin: 4px;
        }
      }

      &::-webkit-scrollbar {
        width: 4px;
        background-color: #fc8507;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #AFAFAF;
      }
      &::-webkit-scrollbar-track {
        background-color: #f6f6f6;
      }
    }
    .images-main {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  .product-center {
    display: flex;
    flex-direction: column;
    width: calc(100% - 340px);
  }

  .product-price {
    width: 100%;
    background: #f7f7f7;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 44px;
    padding: 0 16px 0 12px;
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
  }

  .product-by-one_line {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    min-height: 64px;

    .product-price {
      margin-right: 10px;
    }

    .product-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 64px;

      .product-favorites {
        margin-right: 10px;
        height: 100%;

        .button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 64px;

          &:after {
            display: block;
            content: '';
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-position: center;
            mask-position: center;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

            width: 16px;
            height: 16px;
            mask-image: url(../images/icons/favourites-icon.svg);
            background-color: #afafaf;
          }

          &.active {
            &:after {
              background-color: #ff5c52;
              mask-image: url(../images/icons/favourites-icon-active.svg);
            }
          }

          &:hover {
            &:after {
              background-color: #ff5c52;
            }
          }
        }
      }

      .button {
        height: 100%;
      }
    }
  }

  .product-title {
    height: 84px;
    padding-right: 100px;
  }

  .product-stat {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin: 0 0 16px;

    .product-rating {
      color: #333;
      text-decoration: none;
      align-items: center;
      background: #f7f7f7;
      border: none;
      border-radius: 8px;
      display: inline-flex;
      padding: 6px 8px;
    }
  }

  .product-bottom {
    margin-top: auto;
  }
}

