.products-reviews_wrap {
  margin-top: 20px;
  display: flex;
  padding: 32px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 #000 1a;

  .product-reviews {
    width: 100%;

    .reviews-header {
      text-decoration: none;
      color: #333;
      font-size: 22px;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 20px;
    }

    .reviews-list {
      display: flex;
      flex-direction: column;
      width: 100%;

      .review {
        display: flex;
        width: 100%;
        flex-direction: column;

        .review-top {
          display: flex;
          width: 100%;
          margin-bottom: 20px;
          align-content: center;
          align-items: center;
          line-height: 1;

          .review-user {
            margin-right: 20px;

            .user-avatar {

            }

            .user-name {
              font-weight: 700;
            }
          }

          .review-rating {
            margin-left: 20px;

            .rating {
              .rating-item {

              }
            }
          }

          .review-date {
            margin-left: auto;
          }
        }

        .review-content {
          display: flex;
          flex-direction: column;
          width: 100%;
          text-align: justify;
          font-size: 14px;

          .review-item {
            display: flex;
            flex-direction: column;
            width: 100%;

            .review-title {
              align-items: center;
              display: flex;
              font-weight: 700;
              margin-bottom: 8px;
            }

            .review-text {

            }

            &+.review-item {
              margin-top: 20px;
            }
          }
        }

        &:not(:last-child) {
          border-bottom: 1px solid #d9d9d9;
        }

        &+.review {
          margin-top: 20px;
        }
      }

    }
  }
}